<div class="post info">
  <h4>What is SpringKit?</h4>
  <p>
    SpringKit is a social media application for counselors, therapists, and other healthcare practitioners that helps actively engage clients in saving resources related to ongoing treatment.</p>
  <p>
    It provides a private space (a "SpringKit") for clients to build up a collection of helpful PDFs, documents, images, or video that a practitioner can also view and contribute to.
  </p>
</div>
<div class="post sign-up">
  <h4>Sign Up</h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.association :organization, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role, collection: ["client", "practitioner"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

</div>

<div class="post info">
  <h4>More Information</h4>
  <p>
    "SpringKit" is a proof-of-concept final project, or "Breakable Toy", for my apprenticeship at <a href="http://www.launchacademy.com"  target="_blank">Launch Academy</a> in Summer 2014.
  </p>
  <p>
    Please visit the SpringKit <a href="https://github.com/rserur/spring-kit" target="_blank">GitHub</a> project page for more details.
  </p>
  <h4>About the Creator</h4>
  <p>
    My name is <a href="http://www.rachaelserur.com" target="_blank">Rachael Serur</a> and I am a new web developer seeking to build applications that improve efficiency and effectiveness in healthcare, research, social services, and similar industries that deserve better software.
  </p>
  <p>
    Please feel welcome to contact me at <a href="http://www.linkedin.com/in/rachaelserur/">LinkedIn</a> if you would like to collaborate in turning great ideas into real projects or startups!
  </div>
</div>
