<div class="post">
  <h4>What is SpringKit?</h4>
</div>
<div class="post sign-up">
  <h4>Sign Up</h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.association :organization, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :role, collection: ["client", "practitioner"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

</div>
<div class="post">
  <h4>More Information</h4>
</div>
