<div class="top">
  <div class="kits">
    <h2>Kits</h2>
    <ul>
      <% if @kits %>

        <% @kits.each do |kit| %>
          <li class="kit">
            <a href="<%= kit_path(kit) %>">#<%= kit.client.id %>: <%= kit.client.last_name %>, <%= kit.client.first_name %></a>
            <br>
            <div id="chart">
              <%= area_chart Post.where("kit_id = #{kit.id}").group_by_day(:created_at, last: 7).count %>
            </div>
            <strong>Last Updated:</strong>
            <%= kit.last_updated %>
            <br>
            <em><%= mail_to kit.client.email %></em>
            <%= link_to kit_path(kit), id: "del-#{kit.id}", method: :delete do %>
              <i class="fa fa-times-circle"> Delete Kit</i>
            <% end %>
          </li>
        <% end %>

      <% end %>
    </ul>
    <%= link_to new_kit_path do %>
      <button>
        <i class="fa fa-cube"></i> Create Kit
      </button>
    <% end %>
  </div>

  <div class="messages">

    <h2>Messages</h2>

    <% if !@msgs.empty? %>
      <div class="message">
      <% @msgs.each do |message| %>
          <h4><%= message.title %></h4>
          <em>Sent: <%= message.created_at.to_formatted_s(:long)  %></em>

          <% if message.media && message.media.content_type == "image/gif" || message.media.content_type == "image/jpg" || message.media.content_type == "image/jpeg" || message.media.content_type == "image/png" %>

            <%= image_tag message.media.url, class: "image" %>

          <% elsif message.media && message.media.content_type == "application/pdf" || message.media.content_type == "application/msword" || message.media.content_type == "text/plain" %>

              <a href="<%= message.media.url %>">

                <%= image_tag message.media.url(:doc) %>
              Download

              </a>

          <% end %>

          <%= sanitize message.body %>

          <em>- <%= message.sender.first_name %></em>

          <%= link_to kit_post_path(message.kit.id, message.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-times-circle"></i>
          <% end %>
      <% end %>

    <% else %>
      <p>No messages.</p>

    <% end %>
    </div>
  </div>
