<header>
  <h2>
    <span class="title">
      <%= @kit.client.first_name %>'s SpringKit
    </span>
    <span id="plus">
       <i class="fa fa-plus-circle"></i> Add
    </span>
  </h2>
</header>


<em>Kit Owner: <%= @kit.client.first_name %> <%= @kit.client.last_name %></em>

<div id="add">
  <h3>Add Post</h3>

    <%= simple_form_for [@kit, @post], html: { multipart: true } do |f| %>

    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :message, label: 'Post as Message?' %>

    <%= f.file_field :media %>

    <%= f.button :submit %>

    <% end %>
</div>

<% if @posts %>
  <% @posts.each do |post| %>
    <% if post.sender_id == post.kit.client_id %>
      <div class="post from-client">
    <% else %>
      <div class="post from-practitioner">
    <% end %>
        <h4><%= post.title %></h4>
        <% if post.media && post.media.content_type == "image/gif" || post.media.content_type == "image/jpg" || post.media.content_type == "image/jpeg" || post.media.content_type == "image/png" %>
            <%= image_tag post.media.url, class: "image" %>
        <% elsif post.media && post.media.content_type == "application/pdf" || post.media.content_type == "application/msword" || post.media.content_type == "text/plain" %>
          <a href="<%= post.media.url %>">
          <%= image_tag post.media.url(:doc) %>
          Download</a>
        <% end %>
        <p><%= post.body %></p>
        <em>- <%= post.sender.first_name %></em>
        <%= button_to 'Delete', kit_post_path(@kit.id, post.id),
    method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
