<h2> <%= @kit.client.first_name %>'s SpringKit</h2>

<p>Practitioner ID: <%= @kit.practitioner.first_name %> <%= @kit.practitioner.last_name %> (ID: <%= @kit.practitioner_id %>)</p>

<p>Client ID: <%= @kit.client.first_name %> <%= @kit.client.last_name %> (ID: <%= @kit.client_id %>)</p>

<h3>Posts</h3>

<% if @posts %>
  <% @posts.each do |post| %>
    <div class="post">
      <pSender: <%= post.sender.first_name %>
      Recipient: <%= post.recipient.first_name %>
      <p>
      <strong>Title:</strong> <%= post.title %>
      </p>
      <p>
        <strong>Message:</strong> <%= post.body %>
      </p>
    </div>
  <% end %>
<% end %>
