<h2> <%= @kit.client.first_name %>'s SpringKit</h2>
<em>Kit Owner: <%= @kit.client.first_name %> <%= @kit.client.last_name %></em>

<% if @posts %>
  <% @posts.each do |post| %>
    <% if post.sender_id == post.kit.client_id %>
      <div class="post from-client">
    <% else %>
      <div class="post from-practitioner">
    <% end %>
        <h4><%= post.title %></h4>
        <% if post.media && post.media.content_type == "image/gif" || post.media.content_type == "image/jpg" || post.media.content_type == "image/jpeg" || post.media.content_type == "image/png" %>
            <%= image_tag post.media.url %>
        <% else %>
        <%= image_tag post.media.url(:thumb) %>
          <a href="<%= post.media.url %>">Download</a>
        <% end %>
        <p><%= post.body %></p>
        <em>- <%= post.sender.first_name %></em>
        <%= link_to 'Delete', kit_post_path(@kit.id, post.id),
    method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
<% end %>
