<div id="edit" class="post">

  <h3>Edit Post</h3>

    <%= simple_form_for [@kit, @post], html: { multipart: true } do |f| %>

    <%= f.input :title %>
    <%= f.input :body, required: true, rows: 5 %>
     <%= f.input :message, as: :boolean, inline_label: true, label: 'Post and send as message?' %>

    <%= f.input :collection_list, value: @post.all_collections_list, label: 'Collections (separated by commas)' %>

    <%= f.file_field :media %>

    <%= f.button :submit %>

    <% end %>

</div>
