<!DOCTYPE html>
<html>
<head>
  <title>SpringKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <% if current_user && @kit %>
        <h1>
          <span class="title">
            <a href="<%= kit_path(@kit) %>"><%= @kit.client.first_name %>'s SpringKit</a>
          </span>
        <span id="plus">
           <i class="fa fa-plus-circle"></i> Add
        </span>
        </h1>
        <em>Kit Owner: <%= @kit.client.first_name %> <%= @kit.client.last_name %></em>
    <% else %>
        <h1>
          <span class="title">
            SpringKit
          </span>
        </h1>
    <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="top">
      <% if @collections %>
        <div class="collections">
          <h1 class="logo">
            Collections
          </h1>
          <ul>
            <% @collections.each do |collection| %>
              <li>
                <a href="<%= kit_collection_path(@kit, collection.name) %>">
                  <i class="fa fa-database"></i>
                  <%= collection %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="search">
        <h1 class="logo">
          Search
        </h1>
        <input type="search">
        <input type="submit">
      </div>
    </div>

    <article>
      <%= yield %>
    </article>

    <nav>

        <ul>
          <% if user_signed_in? %>
            <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-user"></i></a></li>
            <li><a href="#">Signed in as <%= current_user.email %></a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
    </nav>

  </div>
</body>
</html>
