<!DOCTYPE html>
<html>
<head>
  <title>SpringKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <aside>
        <h1 class="logo">
          <a href="/">Collections</a>
        </h1>

        <div class="collections">
          <ul>
            <li><a href="/"><i class="fa fa-database"></i>  Worksheets</a></li>
            <li><a href="/"><i class="fa fa-database"></i>  Inspiration</a></li>
            <li><a href="/"><i class="fa fa-database"></i>  Messages</a></li>
            <li><a href="/"><i class="fa fa-database"></i>  Links</a></li>
          </ul>
        </div>
        <div class="search">
          <h2>Search</h2>
          <input type="search">
          <input type="submit">
        </div>
      </aside>

      <article>
        <%= yield %>
      </article>
    </div>
    <nav>

        <ul>
          <% if user_signed_in? %>
            <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-user"></i></a></li>
            <li><a href="#">Signed in as <%= current_user.email %></a></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Register', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
    </nav>
  </div>
</body>
</html>
