<!DOCTYPE html>
<html>
<head>
  <title>SpringKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>SpringKit</h1>

  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
      <li><a href="#">Signed in as <%= current_user.email %></a></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <% else %>

      <li><%= link_to 'Register', new_user_registration_path %></li>
      <li><%= link_to 'Sign In', new_user_session_path %></li>

    <% end %>
  </ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
