<!DOCTYPE html>
<html>
<head>
  <title>SpringKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <header>

      <% if current_user && @kit && @kit.client %>
        <span id="title">
          <h1>
            <a href="<%= kit_path(@kit) %>"><%= @kit.client.first_name %>'s SpringKit</a>
          </h1>
          <em>Kit Owner: <%= @kit.client.full_name %></em><br>
        </span>
        <span id="search">
          <%= simple_form_for :search, url: kit_path(@kit), method: 'get' do |f| %>
            <%= f.input :terms, placeholder: "Search posts...", label: false %>
            <%= f.submit "Go" %>
          <% end %>
        </span>
        <span id="plus">
          <h1>
            <i class="fa fa-plus-circle"></i> Add
          </h1>
          <em>Signed in as <%= current_user.email %></em>
        </span>
      <% elsif current_user && @kits %>
        <h1>
          <span class="title">
            <a href="/">SpringKit: Practitioner View</a>
          </span>
        </h1>
      <% else %>
        <h1>
            <span class="title">
              <a href="/">SpringKit</a>
          </h1>
      <% end %>
    </header>

    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert"><%= alert %></div>
    <% end %>


    <% if current_user && !@kits %>
      <div class="top">
        <div class="collections">
          <h2 class="title">
            Collections
          </h2>
          <% if @collections && !@collections.empty? %>
            <ul>
              <% @collections.each do |collection| %>
                <li>
                  <a href="<%= kit_collection_path(@kit, collection.name) %>">
                    <i class="fa fa-database"></i>
                    <%= collection %>
                  </a>
                </li>
              <% end %>
            </ul>
          <% elsif !@kit %>
            No collections yet; kit pending activation.
          <% else %>
            No collections yet! Add a post to get started.
          <% end %>
      </div>
          <div class="messages">
            <h2 class="title">
              Latest Message
            </h2>
          <% if @msg %>
            <ul>
                <li>
                  <strong><%= @msg.title %></strong>
                  <em><%= @msg.created_at.to_formatted_s(:long)  %></em>
                  <%= sanitize @msg.body %> - <%= @msg.sender.first_name %>
                </li>
            </ul>
          </div>
          <% else %>
              No recent messages.
            </div>
        <% end %>
      </div>
    <% end %>

    <article>
      <%= yield %>
    </article>

    <nav>

        <ul>
          <% if user_signed_in? %>

            <% if current_user.practitioner? %>
              <li>
                <a href="<%= kits_path %>">
                  <i class="fa fa-list"></i> All Kits
                </a>
              </li>
            <% end %>

            <li>
              <a href="<%= edit_user_registration_path %>">
                <i class="fa fa-user"></i> Edit Profile
              </a>
            </li>


            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out"></i> Sign Out
              <% end %>
            </li>

          <% else %>

            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in"></i> Sign In
              <% end %>
            </li>

          <% end %>
        </ul>
    </nav>

  </div>
</body>
</html>
